<form class="needs-validation" novalidate [formGroup]="form" style="padding-top: 10px">
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="name">Nome</label>
      <input type="text" class="form-control" id="name" placeholder="Nome" formControlName="name">
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="type">Tipo</label>
      <input type="text" class="form-control" id="type" placeholder="Tipo" formControlName="type">
    </div>
  </div>

  <div style="margin-top: 10px">
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
    <button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
  </div>
</form>
